<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      font-family: sans-serif;
      margin: 2em;
      max-width: 800px;
    }
    input {
      padding: 0.5em;
      width: 100%;
      margin-bottom: 1em;
    }
    ul {
      list-style: none;
      padding-left: 0;
    }
    li {
      margin-bottom: 1em;
    }
    small {
      color: gray;
    }
  </style>
</head>
<body>
  <main>
    {{ content }}
  </main>
</body>
</html>
